#nike, .price
{
    color: orange;
}
.shoes-title, .shoe-title, .info-title
{
    color: rgb(96, 91, 91);
}
.slider img
{
    width: 500px;
    height: 500px;
}
.copy-right
{
    color:brown;
}
.bg-color-slider
{
    background-color: rgb(248, 209, 187);
    color: white;
}